name: Build TrixieOS (Live + Installer)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:

    - name: Deps
      run: |
        sudo apt update
        sudo apt install -y xorriso squashfs-tools grub-pc-bin \
        grub-efi-amd64-bin wget build-essential bc bison flex libssl-dev libelf-dev

    # 1️⃣ VANILLA KERNEL
    - name: Build kernel
      run: |
        wget https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.8.tar.xz
        tar -xf linux-6.6.8.tar.xz
        cd linux-6.6.8
        make defconfig
        make -j$(nproc)
        mkdir -p ../kernel
        make INSTALL_PATH=../kernel install

    # 2️⃣ ROOTFS (ALPINE MINIROOTFS = SADECE REPO + APK)
    - name: RootFS
      run: |
        mkdir rootfs
        wget https://dl-cdn.alpinelinux.org/alpine/v3.23/releases/x86_64/alpine-minirootfs-3.23.2-x86_64.tar.gz
        tar -xzf alpine-minirootfs-3.23.2-x86_64.tar.gz -C rootfs

        echo 'NAME="TrixieOS"' > rootfs/etc/os-release
        echo 'PRETTY_NAME="TrixieOS ProjectA tarafından yapıldı"' >> rootfs/etc/os-release
        echo 'ID=trixieos' >> rootfs/etc/os-release

    # 3️⃣ LXQT + PRA
    - name: LXQt + PRA
      run: |
        chroot rootfs apk add lxqt openbox xorg-server mesa lightdm sudo

        echo '#!/bin/sh' > rootfs/usr/bin/pra
        echo 'apk "$@"' >> rootfs/usr/bin/pra
        chmod +x rootfs/usr/bin/pra
        chmod 700 rootfs/sbin/apk

    # 4️⃣ INSTALLER
    - name: Installer
      run: |
        cat << 'EOF' > rootfs/usr/bin/trixie-installer
        #!/bin/sh
        set -e
        DISK=/dev/sda
        mkfs.ext4 ${DISK}1
        mount ${DISK}1 /mnt
        cp -a / /mnt
        grub-install $DISK
        grub-mkconfig -o /mnt/boot/grub/grub.cfg
        reboot
        EOF
        chmod +x rootfs/usr/bin/trixie-installer

    # 5️⃣ SQUASHFS
    - name: SquashFS
      run: |
        mkdir iso
        mksquashfs rootfs iso/rootfs.squashfs

    # 6️⃣ ISO 1 — LIVE + INSTALLER (GERÇEK PC)
    - name: ISO Installer
      run: |
        grub-mkrescue -o TrixieOS-Installer.iso iso

    # 7️⃣ ISO 2 — SADECE LIVE (VM)
    - name: ISO VM
      run: |
        rm rootfs/usr/bin/trixie-installer
        mksquashfs rootfs iso/rootfs.squashfs -force
        grub-mkrescue -o TrixieOS-VM.iso iso

    - uses: actions/upload-artifact@v4
      with:
        name: TrixieOS-ISOs
        path: |
          TrixieOS-Installer.iso
          TrixieOS-VM.iso
